allow vendor_init camera_data_file:dir setattr;
allow vendor_init crash_reports_data_file:dir setattr;
allow vendor_init dragon_tee_data_file:dir setattr;
allow vendor_init fw_logs_data_file:dir setattr;
allow vendor_init media_data_file:dir setattr;
allow vendor_init system_data_file:dir setattr;
allow vendor_init touch_fw_update_log_file:dir setattr;
allow vendor_init wifi_data_file:dir setattr;
